.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.4vmin);
  color: gray;
}
.movie-panel{
  cursor: pointer;
}
form{
  width: 100%;
  max-width: 80vw;
}

a:hover,.movie:hover {
   text-decoration: none;
   color: #1976D2;
}

.form-row {
  width: 100%;
  min-width: 430px;
}

input {
  height: 100%;
  line-height: inherit;
  margin-right: .2em;
}


.movie{
  display: flex;
  align-items: center;
}

.movie_content{
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right{
 display: inline-block;
  width: 4em;
  height: 4em;
}
.right-parent{
  margin-left: auto;
}
.right:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.2em solid rgba(0,0,0,.38);
  border-right: 0.2em solid rgba(0,0,0,.38);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}